/*                   */
/* Button Animation  */
/*                   */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
}

@font-face {
    font-family: 'MaidenOrange-Regular';
    src: url('MaidenOrange-Regular.ttf') format('truetype');
}
/*                   */
/* Body and HTML     */
/*                   */
body, html {
    font-family: 'MaidenOrange-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*                   */
/* Styles for button */
/*                   */
.bcontent {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #cd7a27;
    color: white;
    border: 0.3125rem solid #b35e00;
    border-radius: 0.625rem;
    font-family: inherit;
    font-size: 1.7rem;
    animation: pulse 1.5s infinite;
}

.bcontent:hover {
    background-color: #b35e00;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    animation: wobble 0.5s;
}

/* content tyyli kaikille tekstilaatikoille*/
.content {
    background-color: #ffd9b7;
    border: 0.3125rem solid #b35e00;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.625rem;
}

.content:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#mute-button {
    right: 0.5rem;
    top: 0.5rem;
    z-index: 999;
    position: absolute;
    scale: 0.7;
}

#mute-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: -0.40rem;
}

#volume-control {
    display: none;
    position: absolute;
    right: 0.35rem;
    top: 3.2rem;
    z-index: 999;
    width: 4.2rem;
}

#table, th, td {
    border: 0.1rem solid #b35e00;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

#container #leaderboard-dropdown {
    display: none;
    position: absolute;
    top: 9rem;
    left: 1.55rem;
    width: 18.9rem;
    max-height: calc(100vh - 7rem);
    overflow-y: hidden;
    font-size: 115%;
}
/*                   */
/* LOGINSCREEN STUFF */
/*                   */
#container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/banditslogo.webp') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-blend-mode: multiply;
}

#loginscreen form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginscreen #username {
    padding: 0.15rem 0.4rem;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    width: 15.8rem;
    height: 1.5rem;
}

#loginscreen #playbutton {
    padding: 1rem 5.2rem;
    cursor: pointer;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 8.5rem;
}

#container #pelinohjeet-button {
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    position: absolute;
    top: 4.5rem;
    right: 7%;
}

#container #pelinohjeet-dropdown {
    display: none;
    position: absolute;
    top: 9rem;
    right: 1.55rem;
    width: 18.9rem;
    max-height: calc(100vh - 7rem);
    overflow-y: auto;
    font-size: 1.8rem;
}

#container #pelinohjeet-dropdown p {
    margin: 0.5rem;
    padding: 0.625rem;
}

#container #pelinohjeet-button:active + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

#container #leaderboard-button {
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    position: absolute;
    top: 4.5rem;
    left: 7%;
}

/*                   */
/*  GAMEPLAY STUFF   */
/*                   */
#gamescreen {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#gamescreen>img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 20%;
    height: 20%;
    transform: rotate(-2deg);
    transition: opacity 1s ease;
}

#gamescreen>img:hover {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#eventpopup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #000000bd;
    font-size: 1.3rem;
}

#eventpopup>img {
    margin-top: 1rem;
    width: 20%;
    height: auto;
    align-self: center;
}


#eventpopup p {
    align-self: center;
    width: 50%;
    padding: 1rem;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#bot {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

#statusfield {
    padding: 0.5rem;
    width: 15rem;
    margin-right: 1rem;
    height: 24rem;
}

#statusfield p {
    margin: 0.5rem 0;
}

#map{
    height: 25rem;
    width: 50rem;
    cursor: pointer;
}

#map-bg {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    pointer-events: none;
}

#terminal {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
}

#terminal p {
    margin: 0.5rem;
    padding-left: 0.5rem;
}

#eventpopup button {
    width: 20%;
    height: 3rem;
    align-self: center;
}

